<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div>
      <table>
        <th>id</th>
        <th>f_name</th>
        <th>l_name</th>
        <th>email</th>

        {% for data in data %}

        <tr>
          <td>{{data.id}}</td>
          <td>{{data.f_name}}</td>
          <td>{{data.l_name}}</td>
          <td>{{data.email}}</td>
          <td><a href="/delete?id={{data.id}}">delete</a></td>
          <td><a href="/edit?id={{data.id}}">edit</a></td>
        </tr>

        {% endfor %}
      </table>
    </div>
  </body>
</html>
