<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>

      <h1> {{firstName}}</h1>
    <div>
        <form action="/getData" method="get">
            <button>Show Record</button>
        </form>
    </div>
     <div>

    <form action="/sendData" method="POST">
        {% csrf_token %}

        <h5>Id <input type="number" name='id' /></h5>
        <h5>first name<input type="text" name='f_name' /></h5>
        <h5>last name<input type="text" name='l_name' /></h5>
        <h5>email <input type="email" name='email' /></h5>
        <button type="submit">Submit</button>

    </form>
     </div>
  </body>
</html>
