<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/signUp" method="POST">
        {% csrf_token %}
        <h5>User Name <input type="text" name='username' /></h5>
        <h5>first name<input type="text" name='fname' /></h5>
        <h5>password<input type="password" name='password' /></h5>
        <button type="submit">signUp</button>

    </form>
</body>
</html>
